<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]='["/"]'>Home</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active current" [routerLink]='["/reactive-form", ""]'>Reactive Registration Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active current" [routerLink]='["/modal-based-form", ""]'>Template Modal Registration Form</a>
            </li>
        </ul>
    </div>
</nav>
